<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerDeslogueado') %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= auto.marca %> - <%= auto.modelo %></h2> 
			<p class="product-detail-description">
				<a href="product-add.html">Editar</a><!--en teoria si esta desloguedo el usuario no puede editar????-->
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= auto.foto %>" alt="" class="product-detail-img">
					<p class="product-detail-description">Año: <%= auto.anio %> - Color: <%= auto.color %> - Precio: $<%= auto.precio %>.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% if (auto.comentarios.length === 0) { %>
							<p>No hay comentarios</p>
						<% } else { %>
							<% for (let i = 0; i < auto.comentarios.length; i++) { %>
								<article>
									<img src="<%= auto.comentarios[i].usuario.foto %>" alt="">
									<div class="data">
										<p class="user">
											<strong> <a href="users/detalle/<%= auto.comentarios[i].usuario.id %>">Nombre usuario: <%= auto.comentarios[i].usuario.nombre %></a> </strong>
											<%= auto.comentarios[i].comentario %>
										</p>
									</div>
								</article>
							<% } %>
						<% } %>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<%- include('./partials/footer') %>
</body>	
</html>