<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
	<%- include('./partials/headerDeslogueado') %>
	<!-- Acordarse de poner header logueado-->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.NombreDelProducto %></h2> 
			<p class="product-detail-description">
				<a href=" /users/detalle/<%= productos.user.Id %>" ><%= productos.user.Nombre %></a>
			</p>
			<p class="product-detail-description">
				<a href="/productos/editar/<%= productos.ID %>" >Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= productos.Imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%= productos.Descripción %>- Precio: $<%= productos.Precio %>.</p>
				</article>
				<!--Nota: anda bien el detalle del producto :), si sacamos la seccion del los comentarios podemos verlo bien-->
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% if (productos.comentarios.length === 0) { %>
							<p>No hay comentarios</p>
						<% } else { %>
							<% for (let i = 0; i < productos.comentarios.length; i++) { %>
								<article>
									<img src="<%= productos.comentarios[i].user.FotoDePerfil %>" alt="">
									<div class="data">
										<p class="user">
											<strong> <a href="/users/profile">Usuario: <%= productos.comentarios[i].user.Nombre %></a> </strong>
											<%= productos.comentarios[i].Comentario %>
										</p>
									</div>
								</article>
							<% } %>
						<% } %>

					</section>
					<form class="form" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<%- include('./partials/footer') %>
</body>	
</html>