<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
	
	<% if (locals.usuarioLogueado!= undefined) { %>
		<%- include('./partials/headerLogueado') %>
		<% if ((locals.usuarioLogueado.Id == infoUsuario.Id)) { %>
			<section class="info-usuario container products-wrapper">
				<div class="row">
					<div class="img-container offset-3 col-2">
						<img src="<%=locals.usuarioLogueado.FotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
					</div>
					<div class="data-container col-6">
						<div class="d-flex align-items-center ">
							<h1 class="main-title"><%= locals.usuarioLogueado.Nombre %>
								<a href="profile-edit">
									<i class="fas fa-cog"></i>
								</a>
							</h1>
							<a class="btn mt-3 ml-4" href="">SEGUIR</a><!--es de las electivas, nosotras no elegimos esto-->
						</div>
						<div>
							<ul class="">
								<li><%= locals.usuarioLogueado.Email %></li>
								<!--<li>Productos: <%=//locals.usuarioLogueado.product.length %></li>-->
							</ul>
						</div>
					</div>
				</div>
			</section>
	
		<% } else { %>
			<section class="info-usuario container products-wrapper">
				<div class="row">
					<div class="img-container offset-3 col-2">
						<img src="<%=infoUsuario.FotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
					</div>
					<div class="data-container col-6">
						<div class="d-flex align-items-center ">
							<h1 class="main-title"><%= infoUsuario.Nombre %>
								<a href="profile-edit">
									<i class="fas fa-cog"></i>
								</a>
							</h1>
							<a class="btn mt-3 ml-4" href="">SEGUIR</a><!--es de las electivas, nosotras no elegimos esto-->
						</div>
						<div>
							<ul class="">
								<li><%= infoUsuario.Email %></li>
								<li>Productos: <%=infoUsuario.product.length %></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
	  <% } %> 
	  
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
		<section class="info-usuario container products-wrapper">
			<div class="row">
				<div class="img-container offset-3 col-2">
					<img src="<%=infoUsuario.FotoDePerfil %>" alt="foto de perfil" class="foto-perfil">
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title"><%= infoUsuario.Nombre %>
							<a href="profile-edit">
								<i class="fas fa-cog"></i>
							</a>
						</h1>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a><!--es de las electivas, nosotras no elegimos esto-->
					</div>
					<div>
						<ul class="">
							<li><%= infoUsuario.Email %></li>
							<li>Productos: <%=infoUsuario.product.length %></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
  <% } %> 

	<!-- Datos del usuario -->
	
			
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% console.log(infoUsuario.product.length) %>
			<% for (let i = 0; i < infoUsuario.product.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detalle/<%= infoUsuario.product[i].ID %>">

							<figure class="product-box_image">
								<img src="<%= infoUsuario.product[i].Imagen %>" alt="<%= infoUsuario.product[i].NombreDelProducto %>">
							</figure>
							<article class="product-box_data">
								<h2><%= infoUsuario.product[i].NombreDelProducto %></h2>
								<h3>$<%= infoUsuario.product[i].Precio %></h3>
								<p><%= infoUsuario.product[i].Descripción%></p>
								<p>Comentarios:<%= infoUsuario.product[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %> 
		</div>
	</div>
	<!-- /Mis productos -->


	<%- include('./partials/footer') %>
</body>	
</html>