<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
	<% if (locals.usuarioLogueado!= undefined) { %>
		<%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/headerDeslogueado') %>
  <% } %> 

	<!-- busqueda -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- muestra los resultados -->
			
				<% for (let i = 0; i < productos.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos/detalle/<%= productos[i].ID %>">
								<figure class="product-box_image">
									<img src="<%= productos[i].Imagen %>" alt="<%= productos[i].NombreDelProducto %>">
								</figure>
								<article class="product-box_data">
									<h2><%= productos[i].NombreDelProducto %></h2>
									<h3>$<%= productos[i].Precio %></h3>
									<p><%= productos[i].Descripción %> - Fecha de Carga: <%= productos[i].FechaDeCarga %></p>
									<p><a href="/users/detalle/<%= productos[i].user.Id %>"><%= productos[i].user.Nombre%></a></p>
									<p>Comentarios:<%= productos[i].comentarios.length %></p>
								</article>
							</a>
						</section>
					</div>
				<% } %>
				<% if (productos== 0) { %>

					<div class="noHayResultados">
						<h2>Oops.. No hay ningun auto que coincida con tu busqueda</h2>
					</div>
					
				<% } %>
				 
        </div>
    </div>


	<%- include('./partials/footer') %>
</body>

</html>