<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
	<%- include('./partials/headerDeslogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- muestra los resultados -->
			
				<% for (let i = 0; i < personas.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/users/detalle/<%= personas[i].ID %>">
								<figure class="product-box_image">
									<img src="<%= personas[i].FotoDePerfil %>" alt="<%= personas[i].Nombre %>">
								</figure>
								<article class="product-box_data">
									<h2><%= personas[i].Nombre %></h2>
									<p>Email:<%= personas[i].Email %> - Productos:<%= personas[i].product.length %></p>	
								</article>
							</a>
						</section>
					</div>
				<% } %>
				<% if (personas== 0) { %>

					<div class="noHayResultados">
						<h2>Oops.. No hay ningun usuario que coincida con tu busqueda</h2>
					</div>
				<% } %>
				 
        </div>
    </div>


	<%- include('./partials/footer') %>
</body>

</html>